/* GENERAL RULES -------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    font-size: 20px;
    background-color: #DDDBD3;
    font-family: 'Roboto', sans-serif;
}

#top_body_bar {
    background-color: #429388;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.container {
    width: 80%;
    height: calc(100vh - 40px);
    margin: 20px auto;
    position: relative;
    background-color: #EAEAEA;
}

.inner_container {
    width: 95%;
    margin: 0 auto;
}

.flex_it {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

/* HEADER RULES -------------------- */
header {
    width: 35%;
    height:calc(100vh - 40px);
    min-width: 325px;
    border-right: 1px solid #cecece;
    background-color: #fff;
    overflow-y: hidden;
}

    /* profile section */
.profile_bg {
    background-color: #EAEAEA;
}

.profile_pic, .bell {
    margin: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

img {
    width: 100%;
}

.user_options {
    min-width: 100px;
}

header .fas, main .fas, main .far{
    margin: 5px;
    color: #B2B1B1;
}

    /* notification section */
.notifications {
    color: #fff;
    background-color: #9FD8F8;
    justify-content: flex-start;
}

.bell {
    min-width: 50px;
    color: #9FD8F8;
    background-color: #fff;
    justify-content: center;
}

.bell .fa-bell-slash {
    font-size: 2rem;
    color: #9FD8F8;
}

.notif_text {
    flex-flow: column nowrap;
    align-items: start;
    margin: 0 10px;
}

.notifications p {
    color: #000;
    font-size: 1rem;
}

.notif_text a {
    color: #587485;
    font-size: .8rem;
}
    /* input search_user section */
#search {
    background-color: #FAFAFA;
    padding: 10px;
}

#search label {
    width:100%
}

#search_user {
    width: 100%;
    margin-left: 10px;
    border: 0;
    padding: 10px 0;
    font-size: 1rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
} 

    /* contacts section */
#contacts {
    background-color: #fff;
    height: calc(100% - 180px);
    overflow-y: auto;
}

#contacts .user_info.flex_it {
    justify-content: flex-start;
    cursor: pointer;
    position: relative;
}

.user_info.visible {
    background-color: #E9EBEB;
}

.user_info:hover {
    background-color: #E9EBEB;
}

.contact_info {
    max-width: 120px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.last_message, .time {
    font-size: .8rem;
    color: #BFC1C3;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.time {
    position: absolute;
    top: 5px;
    right: 10px;
}

/* MAIN RULES -------------------- */
main {
    min-width: 400px;
    width: 65%;
    height: 100%;
    background-image: url('../img/whatsapp_background.jpg');
    position: relative;
}
#chat_window {
    overflow-y: auto;
    max-height: 100%;
}

    /* chat profile section */
.profile_text .time {
    position: static;
}

    /* messages */
#messages {
    padding: 30px 50px 84px 50px;
    max-height: calc(100% - 70px);
}

.msg {
    min-width: 100px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    display: flex;
    flex-flow: column wrap;
    position: relative;
    margin-top: 10px;
}

.contact_message {
    align-self: flex-start;
    background-color: #fff;
}

.personal_message {
    align-self: flex-end;
    background-color: #DDF8C0;
}

    /* type new message */
#type_message {
    background-color: #F3EEEA;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#type_search {
    width: 100%;
    border: 0;
    border-radius: 3px;
    padding: 10px 5px;
    font-size: 1rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#type_message label {
    width: 100%;
}

#type_message i {
    text-align: center;
    margin: 0 20px;
    font-size: 1.5rem;
    vertical-align: middle;
    min-width: 30px;
}