/* GENERAL RULES -------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 20px;
    background-color: #DDDBD3;
    font-family: 'Roboto', sans-serif;
}

#top_body_bar {
    background-color: #429388;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.container {
    width: 80%;
    height: calc(100vh - 40px);
    margin: 20px auto;
    position: relative;
    background-color: #EAEAEA;
}

.container:after {
    content: '';
    display: table;
    clear: both;
}

.inner_container {
    width: 95%;
    margin: 0 auto;
}

.flex_it {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header, main {
    float: left
}

/* HEADER RULES -------------------- */
header {
    width: 35%;
    height:calc(100vh - 40px);
    min-width: 285px;
    border-right: 1px solid #cecece;
    background-color: #fff;
    overflow-y: hidden;
}

    /* profile section */
#profile {
    background-color: #EAEAEA;
}

.profile_pic, .bell {
    margin: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

img {
    width: 100%;
}

.user_options {
    min-width: 100px;
}

header .fas, main .fas{
    margin: 5px;
    color: #B2B1B1;
}

    /* notification section */
.notifications {
    color: #fff;
    background-color: #9FD8F8;
    justify-content: flex-start;
}

.bell {
    min-width: 50px;
    color: #9FD8F8;
    background-color: #fff;
    justify-content: center;
}

.bell .fa-bell-slash {
    font-size: 2rem;
    color: #9FD8F8;
}

.notif_text {
    flex-flow: column nowrap;
    align-items: start;
    margin: 0 10px;
}

.notifications p {
    color: #000;
    font-size: 1rem;
}
.notif_text a {
    color: #587485;
    font-size: .8rem;
}
    /* textbox search */
#search {
    margin: 5px;
    padding: 5px;
    background-color: #fff;
}

.search_icon {
    margin: 10px;
}

#search_user {
    width: 80%;
    border: 0;
    font-size: 1rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
} 

    /* contacts section */
#contacts {
    background-color: #fff;
    padding: 10px 0;
    height: calc(100% - 180px);
    overflow-y: auto;
}

#contacts .flex_it {
    justify-content: flex-start;
    position: relative;
}

.user_info.visible {
    background-color: #E9EBEB;
}

.last_message, .time {
    font-size: .8rem;
    color: #BFC1C3;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.time {
    position: absolute;
    top: 5px;
    right: 10px;
}

/* MAIN RULES -------------------- */
main {
    min-width: 300px;
    width: 65%;
    height: 100%;
    background-image: url('../img/whatsapp_background.jpg');
    position: relative;
}

#chat_profile {
    background-color: #EAEAEA;
}
    /* messages */
#messages {
    padding: 30px 50px 84px 50px;
    height: calc(100% - 70px);
    overflow-y: auto;
}

.msg {
    padding: 10px;
    max-width: 40%;
    border-radius: 10px;
    font-size: 1rem;
}

.contact_message {
    float: left;
    margin-right: 400px;
    background-color: #fff;
}

.personal_message {
    float: right;
    margin-left: 400px;
    background-color: #DDF8C0;
    margin-top: 20px;
}

    /* type new message */
#type_message {
    background-color: #F3EEEA;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#type {
    width: 90%;
    height: 30px;
} 

#type_message .fas {
    font-size: 1.5rem;
    vertical-align: middle;
}